#container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    align-self: center;
    min-height: 100vh;
    min-width: 100vw;

}

#canvas {
    border: solid rgb(33,25,24) 32px;
    width: 512px;
    height: 512px;
    display: flex;
    flex-wrap: wrap;
    
}

.hover{
    background-color: black;
}